.next {
  position: relative;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: aqua;
  cursor: pointer;
}

.next:hover {
  background-color: aquamarine;
}

.pagination {
  justify-content: center;
  position: relative;
  display: flex;
  color: black;
}
